 <div class="card text-center w-50 m-auto">
    <div class="card-body">
        <h1 class="card-title">About</h1>
        <h5>A note taking app</h5>
        <p>version : 1.0.0</p>
        <small>@Stavros Stilos</small>
    </div>
</div>