<div class="card w-50 m-auto">
  <h5 class="card-header text-center">Add Note</h5>
  <div class="card-body">
    <form action="/notes" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" value="{{title}}">
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea type="text" class="form-control" name="details">{{details}}</textarea>
        </div>
        <button type="submit" class="btn btn-success btn-block">Submit</button>
    </form>
  </div>
</div>