<div class="card w-50 m-auto">
  <h5 class="card-header text-center">Edit Mode</h5>
  <div class="card-body">
    <form action="/notes/{{note.id}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" value="{{note.title}}">
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea type="text" class="form-control" name="details">{{note.details}}</textarea>
        </div>
        <button type="submit" class="btn btn-success btn-block">Submit</button>
    </form>
  </div>
</div>